/*------------------------------
liquid layout
------------------------------*/

/* column container */
.colmask {
	position: relative; /* This fixes the IE7 overflow hidden bug */
	clear: both;
	float: left;
	width: 100%; /* width of whole page */
	overflow: hidden; /* This chops off any overhanging divs */
}

/* common column settings */
.colright, .colmid, .colleft {
	float: left;
	width: 100%;
	position: relative;
}

.col1, .col2 {
	float: left;
	position: relative;
	padding: 0 0 1em 0;
	overflow: hidden;
}

/* 2 Column (left menu) settings */
.leftmenu {
	background: #fff; /* right column background color */
}

.leftmenu .colleft {
	right: 75%; /* right column width */
	background: #fff; /* left column background color */
}

.leftmenu .col1 {
	width: 61%; /* right column content width */
	left: 94%; /* 100% plus left column left padding */
}

.leftmenu .col2 {
	width: 15%; /* left column content width (column width minus left and right padding) */
	left: 16%; /* (right column left and right padding) plus (left column left padding) */
}

.wide {
	width:100%;
}


/* -----------------------------
global styles
------------------------------*/
* {
	font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
}

body {
	min-width: 800px;
	font-size: 10pt;
}

a:link, a:visited, a:active {
	/* Controls link colors. break into seperate classes to add rollover states */
	color: #1a75cf;
	text-decoration: none;
}

a:hover {
	color: #87adb0;
	text-decoration: underline;
}

img {
	border: none;
}

p {
	color: #1f1f1f;
}

div.header_area {
	height: 45px;
	position: relative;
}

.toplogo {
	position: absolute;
}

.toplinks {
	float: right;
	position: relative;
	top: 12px;
	right: 15px;
	margin-left: 300px;
}
	
div.content_area {
	padding: 0.3em 0.6em 0.3em 0.6em;
	min-height: 400px;
	clear: both;
}

h1 {
	font-size: 150%;
	color: #D42E12;
	line-height: 150%;
}

h2 {
	font-size: 150%;
	color: #54752B;
}

.bullet {
	background: url(../images/grey_bullet.png) no-repeat left center;
	/* px at the end is the y-axis offset*/
	padding-left: 15px;
	line-height: 140%;
}

.bullet_red {
	background: url(../images/red_bullet.png) no-repeat left center;
	/* px at the end is the y-axis offset*/
	padding-left: 15px;
	line-height: 140%;
}

.bullet_green {
	background: url(../images/green_bullet.png) no-repeat left center;
	/* px at the end is the y-axis offset*/
	padding-left: 15px;
	line-height: 140%;
}

.bullet_orange {
	background: url(../images/orange_bullet.png) no-repeat left center;
	/* px at the end is the y-axis offset*/
	padding-left: 15px;
	line-height: 140%;
}

.bulletlist li {
	position: relative;
	background: url(../images/grey_bullet.png) no-repeat left 5px;
	/* px at the end is the y-axis offset*/
	padding-left: 35px;
	line-height: 140%;
}

.clear {
	clear: both;
}

.footer {
	text-align: center;
}

.browser_back {
	font-size: 65%;
	text-align: center;
}

.questionText {
	font-weight: bold;	
}

div.divider {
	clear: both;
	white-space: nowrap;
	margin-top: 1em;
	height: 2px;
	background: url(../images/divider_line_middle.png) repeat-x;
}

div.divider_left {
	width: 400px;
	height: 2px;
	background: url(../images/divider_line_full.png) no-repeat;
}

div.divider_right {
	float: right;
	width: 400px;
	height: 2px;
	background: url(../images/divider_line_full.png) no-repeat;
	background-position: -399px;
}

/* -----------------------------
div class styles
------------------------------*/
div.centerBox {
	top: 1em;
	right: 5em;
}

.padded {
	padding: 1em;
	margin: 1em;	
}

.lighter {
	background: #DED6CC;
}

.darker {
	background: #CFC4B8;
}

.even {
	background: #DED6CC;
}

.odd {
	background: #CFC4B8;
}

div.center {
	text-align: center;
	margin: 1em;
}

.passed {
	font-weight: bold;
	color: green;
}

.failed {
	font-weight: bold;
	color: red;
}

.allQuestions{
	left:0%;
	vertical-align:top;
}

/* -----------------------------
form styles
------------------------------*/

fieldset {
	margin: 0;
	padding: 5px 0 0 20px;
	width: 180px;
	border: none;
}

fieldset p {
	padding-bottom: 8px;
}

label {
	padding-bottom: 5px;
	width: 200px;
}

.formlabel {
	padding-bottom: 5px;
	width: 100px;
	display: block;
}

.label {
	margin-bottom: -4px;
	width: 200px;
	display: block;
}

.field {
	border: 1px solid #1a75cf;
	margin: 0;
	padding: 0;
}

input:focus, textarea:focus {
	background: #F2CFB0;
}

input.radio, input.checkbox, input.submit {
	width: auto;
	color: #00CCCC;
}

input.checkbox {
	padding-right: 10px;
	color: #1a75cf;
	padding-bottom: 1px;
}

* html input.checkbox {
	padding-right: 10px;
	color: #1a75cf;
	margin-bottom: -4px;
}

.submit_button {
	float: right;
	padding-top: 15px;
	padding-left: 70px;
	border: none;
	background: none;
	cursor: pointer;
}

/* -----------------------------
Details (user, exam, etc)
------------------------------*/

.details, .detailsSubSection, .details .buttons {
	width: 100%;
	overflow: hidden;
	display: block;
	padding: 1px;
}

.details .label {
	width: 20%;
	min-width: 110px;
	float: left;
	text-align: right;
	padding: 3px 13px 3px 3px;
}

.details .input {
	width: 66%;
	left: 24%;
	float: left;
	padding: 3px 3px 3px 3px;
}

.details .input input{
	width: 100%;
}

.details .availableRoles, .details .assignedRoles {
	width: 38%;
	float: left;
	padding: 1px;
}

.details .availableRoles select, .details .assignedRoles select {
	min-height: 75px;
	width: 100%;
}

.details .rolesButtons {
	width: 20%;
	min-width: 94px;
	float: left;
	padding: 24px 1px 1px 1px;
	text-align: center;
}

.details .rolesButtons input {
	width: 90px;
	margin: 5px 0px 5px 0px;
}

.details .buttons {
	text-align: center;
}
.details .buttons input {
	min-width: 90px;
	margin: 10px 20px 10px 20px;
}